# ===== 依赖 & 构建产物 =====
node_modules/
src/.vuepress/.cache/
src/.vuepress/.temp/
src/.vuepress/dist/
dist/

# ===== VSCode =====
.vscode/

# ===== IntelliJ IDEA / WebStorm =====
.idea/
*.iml
*.iws
*.ipr
out/

# ===== Visual Studio =====
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.pdb

# ===== Rider =====
*.sln.DotSettings.user

# ===== 系统文件 =====
.DS_Store
Thumbs.db
desktop.ini

# ===== 环境变量 =====
.env
.env.local
.env.*.local

# ===== 日志 =====
*.log
logs/
